#faixas{height: 65px;}
#primeiro{position:absolute; top:10%; display: block;}

#segundo{position: absolute; width: 100%;}
#segundo h2{margin-top: -140px;}
#segundo p{margin-top: 0px;}
#primery{top:91px; position: absolute; 
background-image: url('../fotos/b.avif'); 
background-repeat: no-repeat;
background-position: center;
background-size: contain; /* Adicione esta linha */
background-size: cover;

}
#primery{height: 350px;}

.video-contain {
    flex: 1;
    width: 100%;
  }
  
  .video-contain video {
    width: 100%;
    height: auto;
    margin-left: -105%;
    position: absolute;
    
  }
  
  .contain{
position: absolute;
top:50px;
right: 150px;
width: 500px;


}


  .text-contain{
    flex: 1;
    padding-left: 0px;
    color:white;

  }
  
  .block {
    margin-bottom: 20px;
  }
  
  .checkmark {
    color: green;
    font-weight: bold;
  }
  
  h1 {
    margin-top: -100px;
  
  }

  .text-contain p{
    margin-left: 30px;
    margin-top: 20px;
    line-height: 25px;
    width: 450px;
  }

  .text-contain h2{
    position:relative;
    width: 450px;
    color:black;
    margin-top: -30px;
    height:10px;
    margin-left: 30px;
}

.segundo-meio{
     
    width: 100%;
    height: 600px;
    margin-top:100%;
  
}

.terceiro-meio{
    background-color:transparent;
    width: 100%;
    height: 600px;
    margin-top: 60px;
    
}
 
  .card-elo {
    display: flex;
    margin:25px;
    margin-left: 50px;
  
  justify-content: space-around;
  }
  
  .card {
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    height: 550px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }
  
  .card img {
    width: 100%;
  }
  
  .card h3 {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 25px;
  }
  
  .card p {
    font-size: 16px;
    text-align: left;
    line-height: 23px;
    margin-left: 25px;
    margin-top: 10px;
  }
  
  .card .date {
    display: flex;
    align-items: center;
  }
  
  .card .date span {
     
  
    
    
  }